@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />

<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create New Employee</a>
<br />
<br />
<br />

<form class="my-3" asp-action="Index">
    <div class="row">
        <div class="col-sm-8">
            <input pleaceholder="serach By Name" name="SearchValue" class="form-control" />
        </div>
        <div class="col-sm-4">
            <input type="submit" value="search" class="btn btn-success btn-block" />
        </div>

    </div>
</form>
@if(Model.Count() > 0)
{
    <table class="table table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(D => D.Name)</th>
            <th>@Html.DisplayNameFor(D => D.Age)</th>
            <th>@Html.DisplayNameFor(D => D.Image)</th>

            <th>@Html.DisplayNameFor(D => D.Address)</th>
            <th>@Html.DisplayNameFor(D => D.Salary)</th>
            <th>@Html.DisplayNameFor(D => D.Department)</th>
            <th>@Html.DisplayNameFor(D => D.IsActive)</th>
            <th>@Html.DisplayNameFor(D => D.Email)</th>
            <th>@Html.DisplayNameFor(D => D.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(D => D.HireDate)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>


        </tr>
    </thead>

    <tbody>
            @foreach(var Employee in Model)
            {
                <tr>
                    <td>@Employee.Name</td>
                    <td>@Employee.Age</td>
                    <td>
                        <img src="~/files/Images/@Employee.ImageName" class="img-circle" width="40" hight="40" alt="Employee Image"  asp-append-version="true"/> 
                    </td>

                    <td>@Employee.Address</td>
                    <td>@Html.DisplayFor(M =>@Employee.Salary)</td>
                   @* <td>@Employee.Salary</td>*@
                    <td>@Employee.Department?.Name</td>

                    <td>@Html.DisplayFor(M =>@Employee.IsActive)</td>
                    <td>@Html.DisplayFor(M =>@Employee.Email)</td>

                    @*<td>@Employee.IsActive</td>
                    <td>@Employee.Email</td>*@
                    <td>@Employee.PhoneNumber</td>
                    <td>@Employee.HireDate</td>
                    <partial name="_PartialView" model="@Employee.Id"/>

                   


                </tr>
            }
        </tbody>

    </table>
}else
{
    <div class="mt-4 alert alert-danger">
        <h4>This is No Employees !!</h4>
    </div>
}



